/*Style  generale pour le body*/


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/*Style pouur le titre h1*/

h1{
    text-align: center;
    padding: 20px;
    color: #000000;
}

/*Syle pour l'en-tete*/


header{
    display: flex;
    align-items: center;
    background-color: #004d40;
    text-align: center;
    justify-content: center;
}

/*Syle pour les boutons de navigation*/

nav {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 40px;
    color: #fff;
    margin-left: 30px;
    padding: 20px;
}

nav ul li {
    margin: 0;
}

nav a:hover, nav a:focus {
    background: #108870;
    color: #fff;
}

a{
    color: #f3eded;
    text-decoration: none;
    font-weight: 500;
}

main{
    padding: 15px;
}


/* Style pour le pied de la page*/

footer{
    text-align: center;
}

/*Style pour le titre h2 de la page a-propos.html*/

#a-propos{
    padding:0;
}
