/* Style generale du body dans toutes les pages*/

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
}

h1{
    text-align: center;
    justify-content: center;
    padding: 20px;
}

header{
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #004d40;
    color: white;
    text-align: center;
    justify-content: center;
}


nav{
    list-style: none;
    display: flex;
    gap: 40px;
    color: #fff;
    margin-left: 60px;
}

nav ul li{
    margin: 0;
}

nav a:hover, nav a:focus {
    background: #108870;
    color: #fff;
}

nav li a{
    color: #f7f7f7;
    text-decoration: none;
    font-weight: bold;
}



/* Style pour l'agenda*/

.calendrier-annuel{
    display: inline-block;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 2rem;
}


h2{
    text-align: center;
    padding: 10px;
}

.mois{
    display: inline-block;
    margin-bottom: 3rem;
    margin-right: 5rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 400px;

}

.mois h3{
    background-color:#929191;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
}

.calendrier{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
}



.chiffre-jour{
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

.nom-jour{
    background-color:#929191;
    color: #fff;
    text-align: center;
    padding: 2px;
    width: 80x;
    font-size: 15px;
}


.jour-vide{
    background-color: transparent;
    border: none;
}

/* Style pour le pied de la page*/

footer{
    text-align: center;
}