/*Style  generale pour le body*/


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../Images_Paroisse/Saint-Léonard-image-2.jpeg') no-repeat center fixed;
    background-size: cover;
    color: white;
}

#menu-btn{
    display: none;
}

/*Style pouur le titre h1*/

h1 {

    justify-content: center;
    text-align: center;
    padding: 5px;
    color: #f4f4f4;
}

/*Syle pour l'en-tete*/


header {
    display: flex;
    align-items: center;
    background-color: #0d483e;
    justify-content: center;
    margin-top: 20px;

}

/*Syle pour les boutons de navigation*/

nav {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 40px;
    color: #fff;
    margin-left: 30px;
    padding: 20px;
}

nav ul li {
    margin: 0;
}

nav a:hover,
nav a:focus {
    background: #108870;
    color: #fff;
}

a {
    color: #f3eded;
    text-decoration: none;
    font-weight: 500;
}


.a-propos {
    font-size: 17px;
    max-width: 900px;
    padding: 2em;
    margin: 2em auto;
    background: rgba(20, 40, 40, 0.80);
    /* Fond sombre semi-transparent */
    border-radius: 12px;
    color: #fff;
    /* Texte blanc pour le contraste */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);

}

.a-propos h2,h3{
    color: #e1b421;
    margin-bottom: 1em;
}




/* Style pour le pied de la page*/

footer {
    text-align: center;
    margin-top: 90px;
}




/* Les Styles pour la page groupes-jeunes.html*/

#title-groupe {
    padding: 30px;
    margin: 5px;
    font-size: 1.5rem;
}


.smock-container {
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
}
.groupe {
    text-align: center;
    width: 300px;
    height: 250px;
    margin: 10px;
    background: #0606066b;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(5, 6, 6, 0.1);
}

.groupe h3 {
    color: white;
}


.groupe img {
    width: 290px;
    height: 190px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/*Style pour les horaires de messe*/

.messe-container{
    display: inline-block;
    margin: 25px;
    
}
.messe-container h2{
    margin-top: 5px;
    font-size: 30px;
}

.hor-messe{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   padding: 15px;
   flex-wrap: wrap;
   gap: 80px;
}

.messe{
    display: inline-block;
    padding: 5px;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    background: rgba(20, 40, 40, 0.80);
    border-radius: 10px;
}

.messe-special{
    display: inline-block;
    padding: 5px;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    background: rgba(20, 40, 40, 0.80);
    border-radius: 10px;
}


/* Style pour la page d'agenda*/

.calendrier-annuel {
    display: inline-block;
    padding: 2rem;
}

/* Style du titre h2 pour l'agenda*/


#title-agenda {
    color: #1c1a1a;
    text-align: center;
    padding: 10px;
    margin-top: -10px;
}

.mois {
    display: inline-block;
    margin-bottom: 3rem;
    margin-right: 5rem;
    padding: 1rem;
    background-color: #345544;
    border-radius: 10px;
    width: 475px;

}

.mois h3 {
    background-color: #9291912c;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
}

.calendrier {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
}



.chiffre-jour {
    display: inline-block;
    color: white;
    background-color: #9291912c;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

.event{
    color: #e1b421;;
    font-size: 12px;
}

.nom-jour {
    background-color: #9291912c;
    color: white;
    text-align: center;
    padding: 2px;
    width: 90x;
    font-size: 15px;
}


.jour-vide {
    background-color: none;
}



/* Style pour les pages de chaque groupe qui s'affichent  lorqu'on clique sur l'image* (Page_des_groupes)*/


.communauty-container {
    background: #393e3d6b;
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 12px;
}

.photo-container img {
    width: 450px;
    height: 400px;
    border-radius: 15px;
}

.photo-container-KA img {
    position: relative;
    top: -395px;
    width: 450px;
    height: 400px;
    border-radius: 15px;
}



.bio h3 {
    color: #e1b421;
    margin-bottom: 1em;
}


.bio {
    font-size: 18px;
    font-weight: 500;
    color: white;
    max-width: 600px;
    padding-top: 0px;
}


footer {
    text-align: center;
    margin-top: 90px;
}

#joins {
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.para-joins {
    font-weight: bold;
    font-size: 22px;
}


/* Style pour la page de prise de rendez-vous */


.choix {
    display: inline-block;
    margin-top: -25px;
}

.choix label {
    display: flex;
    align-items: center;
    font-size: 20px;

}


/* Style des formulaires se trouvant dans les sites*/

form {
    font-size: 22px;
    background-color: #3f41416b;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 600px;
    border-radius: 10px;
    border: 3px solid #1c1a1a;
    padding: 20px;
}

/* Style pour le titre h2 du formulaire de prise de rendez-vous*/

#rdv {
    margin-left: 30px;
    color: white
}

.btn-rdv {
    text-align: center;
    align-items: center;
    width: 150px;
    height: 30px;
    background: rgb(199, 199, 212);
}



/* Style des boutons pour les formulaires d'inscriptions des differents groupes*/


.contact {
    padding: 5px;
    margin: 30px;
    font-size: 21px;
    font-weight: bold;
    color: rgb(0, 0, 0);


}

.footer-contact {
    margin-top: 90px;
    color: white;
    font-size: 18px;
}


