/*Style  generale pour le body*/


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../Images_Paroisse/1280px-Église_Saint-Léonard.jpg');
    background-size: cover;
    color: #fff;
}



/*Style pouur le titre h1*/

h1{
    
    justify-content: center;
    text-align: center;
    padding: 5px;
    color: #f4f4f4;
}

/*Syle pour l'en-tete*/


header{
    display: flex;
    align-items: center;
    background-color: #0d483e;
    justify-content: center;
    margin-top: 20px;

}

/*Syle pour les boutons de navigation*/

nav {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 40px;
    color: #fff;
    margin-left: 30px;
    padding: 20px;
}

nav ul li {
    margin: 0;
}

nav a:hover, nav a:focus {
    background: #108870;
    color: #fff;
}

a{
    color: #f3eded;
    text-decoration: none;
    font-weight: 500;
}

.a-propos{
    padding: 2em;
    margin: 2em auto;
    max-width: 900px;
    background: rgba(20, 40, 40, 0.80); /* Fond sombre semi-transparent */
    border-radius: 12px;
    color: #fff; /* Texte blanc pour le contraste */
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    
}

.a-propos h2 , h3{
    color: #e1b421; /* Couleur du titre */
    margin-bottom: 1em;
}


/* Style pour le pied de la page*/

footer{
    text-align: center;
    margin-top: 90px;
}

/*Style pour le titre h2 de la page a-propos.html*/

#a-propos{
    padding:2px;
}




/* Les Styles pour la page groupes-jeunes.html*/

#commus{
    padding: 35px;
    margin: 0;
}


.smock{
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
}

.groupe{
    text-align: center;
    width: 300px;
    height: 250px;
    margin: 10px;
    background:  #0606066b;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(5, 6, 6, 0.1);
}

.groupe h3{
    color: #faf8f8;
}


.groupe img{
    width: 290px;
    height: 190px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




/* Style pour l'agenda*/

.calendrier-annuel{
    display: inline-block;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 2rem;
}

/* Style du titre h2 pour l'agenda*/


#title-agenda{
    text-align: center;
    padding: 10px;
    margin-top: -10px;
}

.mois{
    display: inline-block;
    margin-bottom: 3rem;
    margin-right: 5rem;
    padding: 1rem;
    background-color: #787373;
    border-radius: 10px;
    width: 400px;

}

.mois h3{
    background-color:#929191;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
}

.calendrier{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
}



.chiffre-jour{
    color: black;
    background-color: rgb(185, 177, 177);
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

.nom-jour{
    background-color:#929291;
    color: #fff;
    text-align: center;
    padding: 2px;
    width: 80x;
    font-size: 15px;
}


.jour-vide{
    background-color: transparent;
    border: none;
}



/* Style pour les pages de chaque groupe qui s'affichent  lorqu'on clique sur l'image* (Page_des_groupes)*/


.communauty-container{
    background: #393e3d6b;
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 12px;
}

.photo-container img{
    width: 450px;
    height: 400px;
    border-radius: 15px;
}

.bio{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 254, 254);
    max-width: 600px;
    padding-top: 0px;
    flex: 1;
}

footer{
    text-align: center;
    margin-top: 90px;
}

#joins{
    color: rgb(246, 246, 246);
    font-weight: bold;
    font-size: 22px;
}

.para-joins{
    font-weight: bold;
    font-size: 22px;
}


/* Style pour la page de prise de rendez-vous */



.choix {
    display: inline-block;
    margin-top: -25px;
}

.choix label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

form{
    background-color: #656e6d6b;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 600px;
    border-radius: 10px;
    border: 3px solid #1c1a1a;
    padding: 20px;
}
 
#rdv{
    margin-left: 30px;
    color:white
}

.btn-rdv{
    text-align: center;
    align-items: center;
    width: 150px;
    background: rgb(199, 199, 212);
}